<!DOCTYPE html>
<link href="/static/css/navbar.css" rel="stylesheet" />
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<html>
    <header>
    <div class = "container">
         <img src = "static/img/navbar_logo.png" alt="logo" class="logo">

             <nav>
                <ul id="list">
                    <li><a href="">Νεα Καταχωρηση</a></li>
                    <li><a href="/">Αναζητηση</a></li>
                    <li><a href="">Σχετικα</a></li>
                    <li id="login" name ="login"><a href="">Συνδεσου</a></li>
                </ul>
            </nav>
        </div>
<script type="text/javascript" src="/static/js/loggedin.js"></script>
</header>
</html>
