<!DOCTYPE html>
<html>
    <header>
    <div class = "container">
         <img src = "static/img/navbar_logo.png" alt="logo" class="logo">

             <nav> 
                <ul>
                    <li><a href="">Νέα Καταχώρηση</a></li>
                    <li><a href="">Search</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Login or Register</a></li>
                   
                </ul>
            </nav>
        </div>
    
</header>
</html>
