<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="author" content="colorlib.com">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
      <link href="/static/css/index.css" rel="stylesheet" />
      <link href="/static/css/loginregister.css" rel="stylesheet" />
      <link href="/static/css/footer.css" rel= "stylesheet" />
         <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<!-- jQuery library -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
            <% include partials/navbar %>
            <div class="login">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <div class="card panel-login">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-md-6">
                                           Επαναφορα κωδικού
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form id="recover-form" role="form" style="display: block;">
                                                <div class="form-group">
                                                    <input type="text" name="username" required id="password-1" tabindex="1" class="form-control" placeholder="Εισάγετε τον νέο κωδικό" value="">
                                                </div> 
                                                <div class="form-group">
                                                        <input type="text" name="username" required id="password-2" tabindex="1" class="form-control" placeholder="Επαναλάβετε" value="">
                                                    </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 offset-sm-3">
                                                            <input type="submit" name="login-submit" id="submit" tabindex="4" class="form-control btn btn-login" value="Υποβολη">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script src="/static/js/changepassword.js"></script>       
    </body>