<!DOCTYPE html>
<html lang="en">
<head>
    <title>Φιλτρα</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="/static/css/navbar.css" rel="stylesheet" />
    <link href="/static/css/footer.css" rel= "stylesheet" />
    <link rel="stylesheet" href="/static/css/filters.css">
</head>
<body>
  <% include partials/navbar %>
  <div class="filterrow" name="container">
    <div class="filtercolumn1">
        <div class="filterTitle">
          <div >
            <p><b class="filterb">Φίλτρα Αναζήτησης</b></p>
          <b value="">Μέγιστη Τιμή: <span id="showval"></span></b>
            <div class="slidecontainer">
              <input type="range" min="" max="" value="" class="slider" id="myRange">
            </div>
          </div>
          <b>Είδος καυσίμου</b>
          <div id="fuelbuttons" class="fuelbuttonselection">
          </div>
        </div>
    </div>
    <div class="filtercolumn2">
        <div id=mapid class="mapcontainer">
        </div>
    </div>
  </div>
  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="/static/js/filters.js"></script>
  <% include partials/footer %>
</body>
</html>
