<!DOCTYPE html>
<html lang="en">
<head>
    <title>Φιλτρα</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="author" content="colorlib.com">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
    <link href="/static/css/navbar.css" rel="stylesheet" />
    <link href="/static/css/footer.css" rel= "stylesheet" />
    <link href="/static/css/map.css" rel= "stylesheet" />
    <link rel="stylesheet" href="/static/css/filters.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    </nav>
    <div class="pad">
    </div>
    <div class="container">

      <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xx-3 white-bg">
          <h1 class="my-4 text-center">Φίλτρα Αναζήτησης</h1>
          <div class="row margin">
            <h3 class="my-2 text-center">Μέγιστη Τιμή: <span id="showval"></span></h3>
            <div class="slidecontainer">
              <input type="range" min="" max="" value="" class="slider" id="myRange">
            </div>
          </div>
          <div class="row margin">
            <h3 class="my-2 text-center">Κατάστημα</h3>
            <div id= "shopbuttons" class="">
            </div>
          </div>
          <div class="row margin">
            <h3 class="my-2 text-center">Τύπος Καυσίμου</h3>
            <div id= "fuelbuttons" class="">
            </div>
          </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9 white-bg">
          <div id="map"class="map-container">

          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="/static/js/map.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCL-EHbgBsjgKSaP4hZ38JFx2GtLv9R5wM&callback=createmap">
</script>
  <script type="text/javascript" src="/static/js/filters.js"></script>
  </body>
</html>
