<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="author" content="colorlib.com">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
      <link href="/static/css/insert.css" rel="stylesheet" />
      <link href="/static/css/footer.css" rel= "stylesheet" />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </head>
    <body>
      <% include partials/navbar %>
                <div style="padding-top:10%">
            <div class="container">
              <div class=row>
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                      <div class="card-header text-center">
                        Προσθήκη Προιόντος
                      </div>
                      <div class="card-body">
                        <div class="col-lg-12">
                            <form id="shop-form" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="text" id="product-name" tabindex="1" class="form-control" placeholder="Ονομα Προιόντος" value="">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="product-description" tabindex="1" class="form-control" placeholder="Περιγραφή προιόντος" value="">
                                </div>
                                <div class="form-group">
                                        <select class="form-control" id="product-category">
                                            <% categories.forEach(category => {%>
                                                <option value="<%= category %>"><%= category %></option>
                                            <% }) %>
                                        </select>      
                                </div>
                                <div class="form-group">
                                      <div id="shop-tags">
                                            <input type="text" id="product-tags" tabindex="1" class="form-control" placeholder="Ετικέτες Προιόντος (χωρισμένες με κενά)" value="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6 offset-sm-3">
                                        <input type="submit" id="submit-btn" tabindex="4" class="form-control btn btn-login" value="Υποβολή">
                                    </div>
                                </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>


              </div>
            </div>
              
          </div>
          <script src="/static/js/insertproduct.js"></script>      
          <!--<% include partials/footer %>-->
    </body>
</html>
