<!DOCTYPE html>
<html>
    <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="author" content="colorlib.com">
      <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />
      <link href="/static/css/index.css" rel="stylesheet" />
      <link href="/static/css/loginregister.css" rel="stylesheet" />
      <link href="/static/css/footer.css" rel= "stylesheet" />
         <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </head>
    <body>
            <% include partials/navbar %>
                <div class="login">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-4 offset-md-4">
                            <div class="card panel-login">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="#" class="active" id="login-form-link">Σύνδεση</a>
                                        </div>
                                        <div class="col6">
                                            <a href="#" id="register-form-link">Εγγραφή</a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form id="login-form" role="form" style="display: block;">
                                                <div class="form-group">
                                                    <input type="text" name="username" required id="login-username" tabindex="1" class="form-control" placeholder="Username" value="">
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="password" required id="password" tabindex="2" class="form-control" placeholder="Password">
                                                </div>
                                                <div class="form-group text-center">
                                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                                                    <label for="remember"> Να με θυμάσαι</label>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 offset-sm-3">
                                                            <input type="submit" name="login-submit" id="login-btn" tabindex="4" class="form-control btn btn-login" value="Συνδεση">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="text-center">
                                                                <a href="/recoverpassword" tabindex="5" class="forgot-password">Ξέχασες τον κωδικό σου?</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                            <form id="register-form"  role="form" style="display: none;">
                                                <div class="form-group">
                                                    <input type="text" name="username" id="username" required tabindex="1" class="form-control" placeholder="Username" value="">
                                                    <p class="dontshow" id="usr">Παρακαλώ εισάγετε Όνομα Χρήστη</p>
                                                </div>
                                                <div class="form-group">
                                                    <input type="email" name="email" id="email1" required tabindex="1" class="form-control" placeholder="Email Address" value="">
                                                    <p class="dontshow" id="eml">Παρακαλώ εισάγετε email</p>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="password" id="password1" tabindex="2" required class="form-control" placeholder="Password">
                                                      <p class="dontshow" id="psw1">Ο κωδικός πρόσβασης δεν είναι έγκυρος</p>
                                                </div>
                                                <div class="form-group">
                                                    <input type="password" name="confirm-password" id="password2" required tabindex="2" class="form-control" placeholder="Confirm Password">
                                                    <p class="dontshow" id="psw2">Οι κωδικοί δεν ταιριάζουν</p>
                                                </div>
                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-sm-6 offset-sm-3">
                                                            <input type="submit" name="register-submit" id="signup-btn" tabindex="4" class="form-control btn btn-register" value="Εγγραφη">
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <script src="/static/js/loginregister.js"></script>
                <script src="/static/js/login.js"></script>
                <script type="text/javascript" src="/static/js/signup.js"></script>
            <!--<% include partials/footer %>-->
    </body>
</html>
