<!--READ ME!!! ap to signup gia na douleuei kala to signup.js prepei na kratisete
to class show kai dont show, ta ids twn password name kai email ka8ws kai to koumpi na parameinei signup-button.
 oi klaseis klp mporoun na allaxoun gia omorfia-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Εγγραφή</title>
    <style>
      .dontshow {
        display: none;
      }
      .show {
        display: inline;
        color : red;
      }
    </style>
</head>
<body>
    <form id="myForm">
        <p><input id="username" name="username" class="input is-large" type="text" placeholder="Username" autofocus=""></p>
        <p name="password"><input rel="1" id="password1" name="password" class="input is-large" type="password" placeholder="Password"></p>
        <p class=dontshow id=psw1>Ο κωδικός πρόσβασης δεν είναι έγκυρος</p>
        <p name="password"><input rel ="2" id="password2" name="password" class="input is-large" type="password" placeholder="Rewrite Password"></p>
        <p class=dontshow id=psw2>Οι κωδικοί δεν ταιριάζουν</p>
        <p><input id="email" name="email" class="input is-large" type="email" placeholder="E-mail"></p>
        <button id="signup-btn">Sign Up</button>
    </form>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="/static/js/signup.js"></script>
</body>
</html>
