html, body {
    margin: 0;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    position: relative;
    background-attachment: fixed;
}