/*Map CSS
===========================================================================*/
.mapcontainer {
  position: fixed;
  padding: 20%;
}
#mapid{
  height:100px;
}
/*End of Map css
=================================================================*/
/**
